@import "./CustomStyle.scss";

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: $primary;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: center;
}

.region-title {
  .position-title {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }
  .refresh-datetime {
    font-size: 12px;
  }
}

p.unit {
  text-align: right;
  margin-right: 1rem !important;
  font-size: 16px;
}

.content {
  padding-bottom: 50px !important;
}


.title {
  color: $secondary;
  font-weight: bold;
}

.title-lg {
  @extend .title;
  font-size: 1.5rem;
}

.title-sm {
  @extend .title;
  font-size: 1rem;
}

.amount-lg {
  font-size: 4rem;
  font-weight: bolder;
  color: $danger;
}

.amount-sm {
  font-size: 1.5rem;
  font-weight: bolder;
}

.footer {
  height:50px;
  position:fixed;
  bottom:0px;
  left:0px;
  width: 100%;
  button {
    font-weight: bold;
    background-color: $primary;
    color: #fff;
    width: 50%;
    height: 50px;
    border: 1px solid #fff;
  }
}


.region-name {
  font-size: 2rem;
  font-weight: bold;
}